body {
    background: linear-gradient(10deg, #232B2B, #FFFFFF);
    pointer-events: absolute;
    top: 100%;
    bottom: 100%;
}

* {
    box-sizing: border-box;
}

.calculator {
    max-width: 100%;
    background: transparent;
    position: relative;
    top: 0;
    bottom: 0;
    width: 320px;
    height: 600px;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
}

.screen {
    background-color: white;
    height: 35%;
}

#input-screen {
    height: 50%;
    font-size: 2em;
    line-height: 1em;
    text-align: right;
    padding: 10px;
    word-wrap: break-word;
}

#output-screen {
    height: 50%;
    font-size: 3em;
    line-height: 2em;
    text-align: right;
    font-weight: 600;
    padding-right: 10px;
}

.input-section {
    background: #219653;
    height: 65%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.number-keys {
    background: #219653;
    height: 100%;
    width: 75%;
}

.symbol-keys {
    background: #3333;
    height: 100%;
    width: 25%;
}

button.numbers {
    height: 25%;
    width: 32%;
    margin: 0 auto;
    font-size: 2em;
    background-color: #219653;
    border: 2px solid #219653;
    color: #fff;
}

button.symbols {
    height: 20%;
    width: 100%;
    margin: 0 auto;
    font-size: 2em;
    background-color: #333333;
    border: 2px solid #333333;
    color: #fff;
}

.symbols[value="Del"] {
    font-size: 1em;
}

@media screen and (max-width: 500px) {
    .calculator {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-device-width: 501px) and (max-device-width: 1070px) {
    .calculator {
        position: absolute;
        left: 15%;
        margin-top: 5%;
        width: 70%;
        height: 85%;
        border-radius: 10px;
        border: 20px solid rgba(210, 180, 120, 0.3);
    }
}

@media only screen and (min-device-width: 1071px) {
    .calculator {
        position: absolute;
        left: 35%;
        margin-top: 5%;
        width: 30%;
        height: 85%;
        border-radius: 10px;
        border: 20px solid rgba(210, 255, 255, 0.3);
    }
}
